#dicteditor_c1 {
  margin-left:  20%;
      padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px;
}
#dicteditor_c2 {
  float: left;
  width: 20%;
      padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px;
}

.dicteditor_td2 {
    text-align: right;
}
